# Build directories
######################
build/
build-*/
/dist/
/settings.json

# Test failure outputs
######################
tests/*.exp
tests/*.out

# Python cache files
######################
__pycache__/
*.pyc

# Customized Makefile/project overrides
######################
GNUmakefile
user.props
.directory
.idea/

# Generated rst files
######################
genrst/

# Environments
######################
venv/