# User specfic
##############
/settings.json
/test.py
# /model/muscle_model.py

# Build directories
######################
build/
build-*/
/dist/

# Test failure outputs
######################
tests/*.exp
tests/*.out

# Python cache files
######################
__pycache__/
*.pyc

# Customized Makefile/project overrides
######################
GNUmakefile
user.props
.directory
.idea/

# Generated rst files
######################
genrst/

# Environments
######################
venv/